<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/FoodHero.app</string>
		<key>CFBundleIdentifier</key>
		<string>uk.co.jennius.FoodHero</string>
		<key>CFBundleShortVersionString</key>
		<string>0.1</string>
		<key>CFBundleVersion</key>
		<string>29</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Jorg Jenni Cafe Marcal (NF2DL98SPS)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2015-10-18T08:55:45Z</date>
	<key>Name</key>
	<string>FoodHero</string>
	<key>SchemeName</key>
	<string>FoodHero</string>
</dict>
</plist>
